<ion-icon name="alert-circle-outline"
style="position: absolute; bottom:auto; left: 10px; font-size: 2em; top: 10px;color: white;"
data-toggle="tooltip" data-placement="left"
title="Esta aplicacion fue creada con fines de ayudar en base a experiencia propia te sugerimos si quieres llevar un entrenamiento mas optimo acudir a profesionales , no nos hacemos responsable por lesiones u o cualquier otra circunstancia provocada por la app a personas ajenas."
(click)="presentAlert2()">
</ion-icon>    
<div style="margin: auto; text-align: center; padding-top: 50px;">
  <h1>C-PumP Exercises</h1>
  <ion-button margin class="inicio-button" (click)="presentAlert()" style="margin: auto;">Iniciar Sesión </ion-button>
</div>
